@import "tailwindcss";
@plugin "daisyui";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1b1d20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/**/
/* Custom Components */
.Title{
  font-size:5ch;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';

  color: rgb(129, 118, 118);
  padding-top:5ch;
}

.Subtitle{
  font-size: 2ch;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  
  color: rgb(129, 118, 118);
}

.Padding_top{
  padding-top: 3rem;
}

.icon {
  display: flex;
}

/**/
/* Navbar */
.Navbar-header{
  background-color: #1e1f21;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(2px + 2vmin);
  height: 7vmin;
  padding: 0rem 20rem;
}

.Navbar-text{
  font-family:"Source Code Pro", monospace;
  font-weight:bolder;

  color:aliceblue;
}

.Navbar-right {
  display: flex;
  gap: 2rem; /* evenly spaced right items */
}

.Spacing {
  margin: 0rem 15rem;
}

.Sudo {
  color:rgb(86, 104, 87);
}

/**/
/* Footer */
.Footer-header{
  background-color: #18191a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  height: 7vmin;
  padding: 0rem 20rem;
}

.Footer-text{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  color:bisque;
  gap: 4rem;
}

/**/
/* Resume */
.Res_Subtitle{
  font-size: 2ch;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  font-style:italic;
  border-bottom: 1px solid #ddd;
  
  color: rgb(129, 118, 118);
}

.Res_JobDesc{
  font-style:italic;
}

.Res_Title{
  font-weight:700;
}

.Res_TitleSpace{
  padding-top:2rem;
  margin-bottom:10px;
}

.Res_ExpSpace{
  padding-top:1rem;
}

.Res_margin{
  margin-bottom:2rem;
}

.Res_item {
  max-width: 600px;
  margin: 0 auto 1.5rem auto; /* centers & adds spacing */
}

.Res_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  flex: 1;
  overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;  
  
}

.row {
  display: grid;
  grid-template-columns: 1fr auto; /* left grows, right fixed to content */
  justify-content: space-between; /* pushes content outward */
  align-items: center;
  width:60%;
  gap: 20rem;
}

.row .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;  /* left justified */
}

.row .date {
  white-space: nowrap;
  text-align: right; /* right justified */
}

.lowertitle{
  font-style:italic;
  font-size:large;
}
  

/**/
/* Blog */
.Blog-title{
  font-size:5ch;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';

  color: rgb(129, 118, 118);
  padding: 0rem 0rem;
}

.Blog-subtitle{
  font-size: 3ch;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  font-weight:bold;

  color: rgb(169, 160, 160);
}

.Blog-postTitle{
  font-size:2ch;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';

  color: rgb(255, 255, 255);
}

.Blog-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  padding: 0rem 20rem;
  padding-bottom: 5rem;
}

.markdown-container h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.markdown-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #959595;
}

.markdown-container h3 {
  text-decoration:underline;
}

.article {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: flex-start; /* align all items to the left */
  gap: 4px; /* optional spacing between lines */
}

.Year {
  padding: 0rem 0rem;
  padding-right: 40rem;
}

/**/
/* Portfolio */
.Portfolio-space {
  padding-top: 5rem;
}

/**/
/* Skils */
.Skills-space {
  padding-top: 2rem;
}

.Skills-title{
  font-size:5ch;
  font-weight:bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';

  color: rgb(129, 118, 118);
  padding-top:2ch;
}

/**/

/* Terminal */
.Terminal {
  background-color: rgb(0, 0, 0);
  color:white;
  font-family:monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  height:100vmax;
}